<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Welcome to The Daily Workout Log, <%= @user.name %>!</h1>
            <h3>Log Daily Workouts<a href="/workouts/new"> New Workout Log </a></h3>
        </div>
        <div>
            <h2></h2>
        </div>
        
    </body>
</html>