<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>The Daily Workout Log</h1>
        </div>
        <div>
            <h2>New Workout Log</h2>
        </div>
        <form method="POST" action="/workouts/new">
            Date: <input type="text" name="date"><br/>
            Workout Type: <input type="text" name="workout_type"><br />
            Workout Description: <input type="text" name="description"><br />
            Calories Burned: <input type="text" name="cals_burned"><br />
            Workout Length: <input type="text" name="length"><br />
            <input type="submit">
        </form>
    </body>
</html>