<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Log In to the Workout Log</h1>
        </div>
        <div>
            <form method="POST" action="/login">
                Username: <input type="text" name="username"><br />
                Password: <input type="password" name="password"><br />
                <input type="submit">
            </form>
        </div>
        
    </body>
</html>