<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>The Daily Journal</h1>
        </div>
        <div>
            <h2>Sign Up</h2>
        </div>

        <h3>Sign up for a Daily Journal account!</h3>
        <form method="POST" action="/authors">
            Name: <input type="text" name="name"><br />
            Username: <input type="text" name="username"><br />
            Password: <input type="password" name="password"><br />
            <input type="submit">
        </form>
    </body>
</html>