<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/home.css" />
    </head>
    <body>
        <div>
            <h1>Welcome to The Daily Workout Log</h1>
            <h2>Keep track of your workouts!</h2>
        </div>
        <div class="login-signup-links">
            <h2><a href="/signup">Sign Up</a></h2>
            <h3>Or</h3>
            <h2><a href="/login">Log In</a></h2>
        </div>
        
    </body>
</html>