<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            <h1>Welcome to The Daily Journal, <%= @author.name %>!</h1>
            <h3>Log Daily Journal Entries</h3>
        </div>
        <div>
            <h2></h2>
        </div>
        
    </body>
</html>